html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


/* for posts */

#post-cont {
    width: 800px;
    margin: 0 auto;
    text-align: justify;
    position: relative;

}
#post-text {
    margin-bottom: 20px;
}
#post-text p {
    text-indent: 20px;
}

#post-text img {
    margin-bottom: 15px;
}

#spans span:nth-of-type(1) {
    position: relative;
    left: 10px;
}

#spans span:nth-of-type(2) {
    position: absolute;
    left: 170px;
}

#spans span:nth-of-type(3) {
    position: absolute;
    left: 10px;

}

#spans span:nth-of-type(4) {
    position: relative;
    left:170px;
    top: -16px;
}

#spans span:nth-of-type(5) {
    position: relative;
    left: -61px;
    top: 20px;
    text-transform: capitalize;
 }


#post-cont h1 {
    text-align: center;

}

.post-but {
    position: relative;
    left: 425px;
    margin-bottom: 15px;
}

.posts-view h1 {
    text-align: center;
}


/* /for posts */


#w2 li a {
    text-transform: capitalize;
    font-size: 15px;
}

#post-comment input[type="submit"]{
position: relative;
    left: 425px;
    width: 100px;
    height: 40px;
    font-size: 18px;
    margin-bottom: 20px;

 }
#post-comment textarea {
    width: 800px;
    height: 100px;
    display: block;
    margin: 0 auto;
    resize: none;
    margin-bottom: 20px;

}

#post-comment div {
    width: 800px;
    background: #eee;
cont h1
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px 20px;

}

#spans{
    margin-bottom: 20px;
}

#post-comment h3 {
    text-align: center;
    margin-bottom: 20px;
}